{% extends 'base.html.twig' %} {% block title %}New Booking{% endblock %} {%
block main %}
<div class="financialInfo">
    <h2>Edit booking # {{ booking.id }}</h2>
    {% embed "/components/_accordion.html.twig" %}
{% block financialInfo %}
{{ include("financial_info/_form.html.twig", {button_label: "Update"}) }}
{% endblock financialInfo %}
    {% endembed %}
</div>
{% endblock main %}
