{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<div class="login_page">
    <div class="background"></div>
    <div class="login">
        <div class="destination_adventures">
            <h1>
                <span class="trajan_maj">D</span><span class="trajan_min">ESTINATIONS</span> <span class=" trajan_maj">&</span>
                <span class="trajan_maj">A</span><span class="trajan_min">DVENTURES</span></h1>
        </div>
        <div class="international">
            <h2>INTERNATIONAL</h2>
        </div>
        <h3>Reset your password</h3>
        <div class="messageReset">
            <p>
                If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
                This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
            </p>
            <p>If you don't receive an email please check your spam folder or <a href="{{ path('app_forgot_password_request') }}">try again</a>.</p>
        </div>
    </div>
</div>
{% endblock %}
