<form method="post" action="{{ path('client_payment_delete', {'id': client_payment.id}) }}" onsubmit="return confirm('Are you sure you want to delete this client payment?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ client_payment.id) }}">
    <button class="btn">Delete</button>
</form>