{% extends 'accordion/layout.html.twig' %}

{% block title %}New ClientPayment{% endblock %}

{% block clientPayments %}
    {{ include('accordion/client_payment/_form.html.twig') }}
    <a href="{{ path('client_new', {booking_id: booking.id}) }}">Add client</a>
{% endblock clientPayments %}