{% extends 'accordion/layout.html.twig' %}

{% block title %}New Supplier{% endblock %}

{% block supplierPayments %}

<h1 class="title-edit">Edit Supplier</h1>
{{ include("supplier/_form.html.twig", {button_label: "UPDATE"}) }}

{% endblock %}