{% extends 'accordion/layout.html.twig' %}

{% block title %}Edit Supplier{% endblock %}

{% block supplierPayments %}
    <h3 class="title">Edit Supplier</h3>

    {{ include('supplier/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
