{% extends 'accordion/layout.html.twig' %}

{% block title %}New Supplier{% endblock %}

{% block supplierPayments %}

<h3 class="title">Add a new supplier</h3>
{{ include('supplier/_form.html.twig') }}

{% endblock %}