@import "variables.scss";

// Header is the nav container

header {
    margin-bottom: 8em;
}

.navbar-mobile {
    display: flex;
}

.navbar-desktop {
    display: none !important;
}

.navbar-mobile {
    background-color: $green;
    height: 5rem !important;

    .navbar-brand:hover,
    .navbar-brand:focus {
        color: $light !important;
    }

    .pe-3 {
        padding-right: 0rem !important;
    }

    li {
        text-align: center;
    }

    .navbar-nav a {
        text-align: center;
    }

    .container-fluid {
        padding: 0 !important;
        width: 100% !important;
        margin: 0 1rem;

        .navbar-brand {
            margin: 0 !important;
            padding-top: 0.8rem !important;
            font-family: $TrajanPro;
            font-size: 0.75rem;
            color: $light;
            font-weight: bold;
            text-align: center;

            #times {
                font-family: $Times;
                font-weight: normal;
                letter-spacing: .35rem;
                font-size: 0.5rem;
            }
        }

        .navbar-toggler {
            background: $darkgreen;

            .navbar-toggler-icon {
                filter: invert(100%) sepia(44%) saturate(284%) hue-rotate(352deg) brightness(100%) contrast(75%);
            }
        }

        .navbar-toggler:focus,
        .navbar-toggler:focus-visible {
            outline: 0 !important;
            box-shadow: none !important;
        }

        .offcanvas {
            background-color: $green;

            .offcanvas-header {
                margin: 0 0 0 auto;
                padding: 1.5rem 1rem 0 1rem;

                .btn-close {
                    filter: invert(100%) sepia(44%) saturate(284%) hue-rotate(352deg) brightness(100%) contrast(75%);
                }
            }

            .offcanvas-body {
                margin: 0 !important;

                hr {
                    color: $light;
                }

                h3 {
                    font-size: 1.1em;
                    color: rgba(255, 255, 255, 0.75);
                    padding-top: .5em;
                    word-wrap: break-word;
                }
            }

            .nav-link,
            h2 {
                color: rgba(255, 255, 255, 0.5);

                .title {
                    font-size: 1.5rem !important;
                }
            }

            .nav-link:hover,
            .nav-link:focus {
                color: #eeeeee !important;
            }

            .nav-item {
                color: $lightgreen;

                .title {
                    color: white;
                }
            }
        }

        .offcanvas-end {
            width: 11rem !important;
        }
    }

    .logout,
    .create-account-btn {
        background: $darkgreen;
        color: rgba(255, 255, 255, 0.5);
        width: 94%;
    }

    .logout:hover,
    .create-account-btn:hover {
        color: #eeeeee !important;
    }

    @media screen and (min-width: 768px) {
        .navbar-brand {
            font-size: 0.95rem !important;

            #times {
                font-size: 0.75rem !important;
            }
        }
    }
}

.navbar-desktop {
    background-color: $green;
    height: 4rem !important;
    justify-content: initial;
    align-items: initial;

    .navbar-brand:hover,
    .navbar-brand:focus {
        color: $light !important;
    }

    ul hr {
        color: $light;
    }

    ul hr:first-child {
        margin-top: 0;
    }

    .pe-3 {
        padding-right: 0rem !important;
    }

    li {
        text-align: center;
    }

    h3 {
        font-size: 1.1em;
        color: rgba(255, 255, 255, 0.75);
        padding-top: .5em;
        word-wrap: break-word;
    }

    .navbar-brand {
        margin: 0 !important;
        padding-top: 0.8rem !important;
        font-family: $TrajanPro;
        font-size: 0.75rem;
        color: $light;
        font-weight: bold;
        text-align: center;
        position: absolute;
        top: -2%;
        left: 45%;
    }

    #times {
        font-family: $Times;
        font-weight: normal;
        letter-spacing: .35rem;
        font-size: 0.5rem;
    }

    .logout,
    .create-account-btn {
        background: $darkgreen;
        color: rgba(255, 255, 255, 0.5);
        width: 85%;
    }

    .logout:hover,
    .create-account-btn:hover {
        color: #eeeeee !important;
    }

    .menu-desktop {
        margin-top: 3.5em;
        background-color: $green;
        height: 100%;
        min-height: 100vh;
        width: 13em;
        padding: 0 1em;
        padding-bottom: 5em;
        overflow-y: scroll;

        .navbar-nav a {
            text-align: center;
        }
    }

    .nav-link,
    h2 {
        color: rgba(255, 255, 255, 0.5);

        .title {
            font-size: 1.5rem !important;
        }
    }

    a.nav-link {
        font-size: 1.1em;
    }

    .nav-link:hover,
    .nav-link:focus {
        color: #eeeeee !important;
    }

    .nav-item {
        color: $lightgreen;

        .title {
            color: white;
        }
    }

    @media screen and (min-width: 768px) {
        .navbar-brand {
            font-size: 0.95rem !important;

            #times {
                font-size: 0.75rem !important;
            }
        }
    }
}

@media screen and (min-width: 1250px) {
    .navbar-mobile {
        display: none !important;
    }

    .navbar-desktop {
        display: flex !important;
    }

    main {
        margin-left: 11em;
    }
}