@import "variables.scss";

.agencyInfo {

    form {
        margin: 0 auto;
        width: 85%;
        max-width: 22rem;

        label {
            font-family: $Helvetica;
            font-size: 1rem;
            color: black;
            margin-top: 1.25rem;
            margin-bottom: 0.375rem;
        }

        input {
            height: 2.25rem;
        }

        textarea {
            height: 6.25rem;
        }

        .btn {
            display: block;
            margin: 1rem auto;
            text-align: center;
            width: 9.625rem;
            height: 2.25rem;
            text-align: center;
            background-color: $green;
            color: $light;
        }
    }
}
