@font-face {
    font-family: 'Adobe Caslon Pro';
    src: url('../fonts/ACaslonPro-Italic.eot');
    src: url('../fonts/ACaslonPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ACaslonPro-Italic.woff2') format('woff2'),
        url('../fonts/ACaslonPro-Italic.woff') format('woff'),
        url('../fonts/ACaslonPro-Italic.ttf') format('truetype'),
        url('../fonts/ACaslonPro-Italic.svg#ACaslonPro-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Trajan Pro';
    src: url('../fonts/TrajanPro-Bold.eot');
    src: url('../fonts/TrajanPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TrajanPro-Bold.woff2') format('woff2'),
        url('../fonts/TrajanPro-Bold.woff') format('woff'),
        url('../fonts/TrajanPro-Bold.ttf') format('truetype'),
        url('../fonts/TrajanPro-Bold.svg#TrajanPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Trajan Pro';
    src: url('../fonts/TrajanPro-Regular.eot');
    src: url('../fonts/TrajanPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TrajanPro-Regular.woff2') format('woff2'),
        url('../fonts/TrajanPro-Regular.woff') format('woff'),
        url('../fonts/TrajanPro-Regular.ttf') format('truetype'),
        url('../fonts/TrajanPro-Regular.svg#TrajanPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Times';
    src: url('../fonts/Times.eot');
    src: url('../fonts/Times.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Times.woff2') format('woff2'),
        url('../fonts/Times.woff') format('woff'),
        url('../fonts/Times.ttf') format('truetype'),
        url('../fonts/Times.svg#Times') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica-Bold.eot');
    src: url('../fonts/Helvetica-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Helvetica-Bold.woff2') format('woff2'),
        url('../fonts/Helvetica-Bold.woff') format('woff'),
        url('../fonts/Helvetica-Bold.ttf') format('truetype'),
        url('../fonts/Helvetica-Bold.svg#Helvetica-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica.eot');
    src: url('../fonts/Helvetica.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Helvetica.woff2') format('woff2'),
        url('../fonts/Helvetica.woff') format('woff'),
        url('../fonts/Helvetica.ttf') format('truetype'),
        url('../fonts/Helvetica.svg#Helvetica') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

