// Fonts variables
$green: #3d5224;
$lightgreen: #61724c;
$form-bg: #F1F6F0;
$button-bg: #4c672c;
$wild-color: #ff6c71;
$light: #fffbfb;

/* fonts */
$AdobeCaslonPro: "Adobe Caslon Pro";
$TrajanPro: "Trajan Pro";
$Times: "Times";
$Helvetica: "Helvetica";
