{% extends 'accordion/layout.html.twig' %}

{% block title %}Edit Client{% endblock %}

{% block clientPayments %}
    <h3 class="title">Edit Client</h3>

    {{ include('client/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
