{% extends 'base.html.twig' %}

{% block title %}Client index{% endblock %}

{% block main %}
    <h1>Client index</h1>
        {% for message in app.flashes('notice') %}
        <p>{{ message }}</p>
        {% endfor %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.name }}</td>
                <td>
                    <!-- action to edit or delete -->
                    {{ include("client/_delete_form.html.twig") }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
