{% extends 'accordion/layout.html.twig' %}

{% block title %}New Client{% endblock %}

{% block clientPayments %}

<h3 class="title">Add a new client</h3>
{{ include('client/_form.html.twig') }}

{% endblock clientPayments %}