{% extends 'base.html.twig' %}

{% block title %}Edit SupplierPayment{% endblock %}

{% block main %}

    <h1>Edit SupplierPayment</h1>

    {{ include('supplier_payment/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
