{% extends 'base.html.twig' %}

{% block title %}Add a new booking{% endblock %}

{% block main %}
<div class="generalInfo">

{% block formTitle %}Add a new booking{% endblock formTitle %}
{% embed "/components/_accordion.html.twig" %}
{% block generalInfo %}
    {% include "generalInformation/_form.html.twig" %}
{% endblock generalInfo %}
{% endembed %}
</div>
{% endblock main %} 