<nav>
    <div class="user-info">
        <img src="" alt="" class="user-picture">
        <h4>WELCOME</h4>
        <h3>ESTHER</h3>
    </div>
    <hr>
    <h4>DASHBOARD</h4>
    <ul>
        <li>Payments</li>
        <li>Trips</li>
        <li>Reporting</li>
    </ul>
    <hr>
    <h4>BOOKINGS</h4>
    <ul>
        <li><a href="{{ path('booking_index') }}">All Bookings</a></li>
        <li><a href="{{ path('general_new') }}">New</a></li>
    </ul>
</nav>