<div class="accordion">
    <div class="accordionTitle accordionTop">
        <h2>GENERAL INFORMATION</h2>
    </div>
    {% block generalInfo %}{% endblock generalInfo %}
    <div class="accordionTitle">
        <h2>FINANCIAL INFORMATION</h2>
    </div>
    {% block financialInfo %}{% endblock financialInfo %}
    <div class="accordionTitle">
        <h2>CLIENT PAYMENTS</h2>
    </div>
    {% block clientPayments %}{% endblock clientPayments %}
    <div class="accordionTitle">
        <h2>SUPPLIER INFORMATION</h2>
    </div>
    {% block supplierInfo %}{% endblock supplierInfo %}
    <div class="accordionTitle accordionBottom">
        <h2>SUPPLIER PAYMENTS</h2>
    </div>
    {% block supplierPayments %}{% endblock supplierPayments %}
</div>
