<nav class="navbar navbar-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <span>Destinations & Adventures</span><br>
        <span id="times">INTERNATIONAL</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <hr>
            <li class="nav-item">
              <h6><span class="title">Logged in as</span></h6>
            </li>
            <li class="nav-item">
              <h5>Username</h5>
            </li>
            <hr>
            <li class="nav-item">
              <h2><span class="title">Dashboard</span></h2>
            </li>
            <div class="links-aligned">
              <li class="nav-item">
                <a class="nav-link" href="#">Payments</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Trips</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Reporting</a>
              </li>
            </div>
            <hr>
            <li class="nav-item">
              <h2><span class="title">Bookings</span></h2>
            </li>
            <div class="links-aligned">
              <li class="nav-item">
                <a class="nav-link" href="#">All bookings</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"
                  href="{{ path('general_new') }}">Add
                  new</a>
              </li>
            </div>
            <hr>
            <a href="/logout">
              <button class="btn logout">Logout</button>
            </a>
          </ul>
        </div>
      </div>
    </div>
  </nav> 