{% extends 'base.html.twig' %} {% block title %}Edit ClientPayment{% endblock %}
{% block main %}
<div class="clientPayment">
    {% embed "/components/_accordion.html.twig" %} {% block clientPayments %}
    {{ include("client_payment/_form.html.twig", {button_label: "UPDATE"}) }}
    {% endblock clientPayments %} {% endembed %}
</div>
{% endblock %}
