{% extends 'base.html.twig' %}

{% block title %}New ClientPayment{% endblock %}

{% block main %}
    <h1>Create new ClientPayment</h1>

    {{ include('client_payment/_form.html.twig') }}

<a href="{{ path('client_new', {booking_id: booking.id}) }}">Add client</a>
{% endblock %}
