{% extends 'base.html.twig' %}

{% block title %}New ClientPayment{% endblock %}

{% block body %}
    <h1>Create new ClientPayment</h1>

    {{ include('client_payment/_form.html.twig') }}


{% endblock %}
